body {
  font-family: "Roboto";
  margin: 0;
}

#nav {
  position: fixed;
  top: 0;
  width: 94%;
  padding: 20px 3%;
  background-color: black;
  z-index: 10;
}

#nav a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  transition: 0.2s;
}

#nav a:hover, #nav a.active {
  color: black;
  background-color: white;
}

.nav-left, .nav-right {
  display: inline-block;
}

.nav-right {
  float: right;
}

.item {
  display: inline-block;
}

#content {
  margin: 100px auto;
}

#upload-box {
  text-align: center;
}

.success, .error {
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

#vote-grid {
  margin: 0 auto;
  text-align: center;
}

.vote-item {
  color: white;
  background: white;
  margin: 10px;
  display: inline-block;
  width: 400px;
  height: 400px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.vote-item > span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

#image-view {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  cursor: pointer;
}

#image {
  display: block;
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#image-fullview {
  max-width: 90vw;
  max-height: 75vh;
}

#image-buttons {
  width: 100%;
  margin: 0 auto;
}

.image-button {
  width: 40vw;
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  font-size: x-large;
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  color: white;
  transition: 0.2s;
}

.image-button:hover {
  color: black;
}

#vote-button {
  background: #3d64ff;
  border: 1px solid #3d64ff;
}

#vote-button:hover {
  background: lightblue;
}

#close-button {
  background: red;
  border: 1px solid red;
}

#close-button:hover {
  background: pink;
}

.not-voted::after {
  content: '';
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  transform: translateX(-50%);
}

.voted::after {
  content: '';
  width: 400px;
  height: 400px;
  background: url(/assets/img/checkmark.png);
  background-size: cover;
  position: absolute;
  transform: translateX(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}
